* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PixelSplitter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(232, 254, 255);
}

.title{
    justify-content: center;
    margin-top: 10px;
    font-size: 36px;
    margin-bottom: 40px;
    color: white; 
    text-shadow: 2px 2px 0.5px #bebebe;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Envia o canvas para o fundo */
}

.timer {
    font-size: 60px;
    color: white; 
    text-shadow: 2px 2px 0.5px #bebebe;

}
.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFEBF4;
   
}
.container{
    width: min(90%, 300px);
    text-align: center;
    background-color: #FFEBF4;
    border-radius: 1.5em;
    padding: 20px;
    border: 4px solid #D9D9D9;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: 10px;
    padding: 1em 2em;
    background-color: #bebebe;
    border: none;
    border-radius: 1.5em;
    color: white;
    cursor: pointer;
    text-transform: uppercase;

}


.button-wrapper #start:hover {
    background-color: #c5f8c5;
    opacity: .7;
}
.button-wrapper #stop:hover {
    background-color: #f9a4a2;
    opacity: .7;
}
.button-wrapper #restart:hover {
    background-color: #c5ecf8;
    opacity: .7;
}